<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row mt-6">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" style = "max-width: 100px;   float: left;" >Materiales</h3>
          <button type="button" class="btn btn-success" style= "  float:right; margin-bottom: 20px; " (click)="CreateMaterial()">Crear Material</button>
          <div class="form-group">
            <input [(ngModel)]="userFilter.name"  type="text" class="form-control" placeholder="Busca por nombre" style = "margin-top: 15px;" >
        </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Tema</th>
                <th scope="col">Estado</th>
                <th scope="col">Curado por</th>
                <th scope="col">Visitas</th>
                <th scope="col">Learning points</th>
                <th scope="col">Ir al material</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor = "let material of myMaterials | filterBy : userFilter">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="avatar rounded-circle mr-3">
                      <img alt="{{material.name}}" src="../assets/img/brand/learning_logo.jpg">
                    </div>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{material.name}}</span>
                    </div>
                  </div>
                </th>
                
                <td>
                  <span [ngClass]="material.color_curated" style="font-size: 15px;">
                    {{material.status}}
                  </span>
                </td>
                <td>
                    {{material.curated_by}}
                  </td>
                <td>
                    {{material.views}}
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">{{material.learning_points}}</span>
                    <div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " > 
                        <ngb-rating [rate]="material.temporal" [readonly]="true"></ngb-rating>
                      </div>
                        
                    </div>
                  </div>
                </td> 
                <td>
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="{{material.name}}" src="../assets/img/theme/imagen.jpg">
                    </a>
                </div>
                </td>  
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
