<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7"  *ngIf="!Uploaded()">
  <!-- Table -->
  <div class="row mt-6">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" style = "max-width: 100px;   float: left;" >Materiales</h3>
          <button type="button" class="btn btn-success" style= "  float:right; margin-bottom: 20px; " (click)="CreateMaterial()">Crear Material</button>
          <div class="form-group">
            <input [(ngModel)]="userFilter.name"  type="text" class="form-control" placeholder="Busca por nombre" style = "margin-top: 15px;" >
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr style=" text-align: center;">
                <th scope="col">Tema</th>
                <th scope="col">Estado</th>
                <th scope="col">Curado por</th>
                <th scope="col">Visitas</th>
                <th scope="col">Learning points</th>
                <th scope="col">Ir al material</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor = "let material of myMaterials | filterBy : userFilter">
                <th scope="row" style=" text-align: center;">
                  <div class="media align-items-center">
                    <div class="avatar rounded-circle mr-3">
                      <img alt="{{material.name}}" src="../assets/img/brand/learning_logo.jpg">
                    </div>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{material.name}}</span>
                    </div>
                  </div>
                </th>
                
                <td style=" text-align: center;">
                  <span [ngClass]="material.color_curated" style="font-size: 15px; " >
                    {{material.status}}
                  </span>
                </td>
                <td style=" text-align: center;">
                    {{material.curated_by}}
                  </td>
                <td style=" text-align: center;">
                 
                    {{material.views}}
                  
                </td>
                <td  style=" text-align: center;">
                  <div class="d-flex align-items-center" style="justify-content: center;">
                    <span class="mr-2">{{material.learning_points}}</span>
                    <div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " > 
                        <ngb-rating [rate]="material.temporal" [max]="5" [readonly]="true"></ngb-rating>
                      </div>
                    </div>
                  </div>
                </td>
                <td >
                  
                  <div class="media align-items-center" style="justify-content: center; min-width: 180px;">
                    <button type="button" class="btn btn-primary btn-circle" placement="top" triggers="mouseenter:mouseleave"
                    ngbPopover="Mandar a curar" (click)="MandarCurar(material)" [disabled]="!getCurarButton(material) ? 'disabled':null">
                    <i class="fa fa-check"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-circle" placement="top" triggers="mouseenter:mouseleave"
                    ngbPopover="Eliminar el material" (click)="MandarEliminar(material)" >
                    <i class="fa fa-times"></i>
                    </button>
                    <button type="button" class="btn btn-info btn-circle" placement="top" triggers="mouseenter:mouseleave"
                    ngbPopover="Actualizar el material" (click)="ActualizarMaterial(material)" [disabled]="!getCurarButton(material) ? 'disabled':null">
                    <i class="fa fa-list"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-circle" placement="top" triggers="mouseenter:mouseleave"
                    ngbPopover="Ir al material" (click)="IrMaterial(material)">
                    <i class="fa fa-link"></i>
                    </button>

                  </div>
                </td>  
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="Uploaded()">
  <div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">¿Quieres crear un nuevo material?</h1>
            <h2 class="text-white">Llena este formulario</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">

              <div class="form-group">
                <label>
                  Título del material:
                </label>
                <h3>{{currentupload.titulo}}</h3>
              </div>

              <div class="form-group">
                <label>
                  Curso:
                </label>
                <h3>{{currentupload.curso}}</h3>
              </div>

              <div class="form-group">
                <label>
                  Tema:
                </label>
                <h3>{{currentupload.tema}}</h3>
              </div>

              <div class="form-group">
                <label>
                  Descripción del material:
                </label>
                <h3>{{currentupload.descripcion}}</h3>
              </div>

              <label>
                Sube un material:
              </label>

              <form action="/action_page.php">

                <div class="form-group">
                  <div class="text-center" *ngIf="!select1()">
                    <a type="button" (click)="change1()" class="btn btn-success">
                      Archivo
                    </a>
                    <a type="button" (click)="change1_2()" class="btn btn-danger ">
                      Link Youtube
                    </a>
                  </div>

                  <div *ngIf="ss1()"><input class="form-control" type="file" id="myFile" name="filename" (change)=aumentar($event)></div>
                  <div *ngIf="select1_2()"> <input class="form-control" [(ngModel)]="ll.link1" name="link" #name="ngModel" (change)=rise() required></div>
                </div>

                <div class="form-group" *ngIf="secondDiv()">

                  <div class="text-center" *ngIf="!select2()">
                    <a type="button" (click)="change2()" class="btn btn-success">
                      Archivo
                    </a>
                    <a type="button" (click)="change2_2()" class="btn btn-danger ">
                      Link Youtube
                    </a>
                  </div>

                  <div *ngIf="ss2()"><input class="form-control" type="file" id="myFile" name="filename" (change)=aumentar($event)></div>
                  <div *ngIf="select2_2()"> <input class="form-control" [(ngModel)]="ll.link2" name="link" #name="ngModel" (change)=rise() required></div>
                  

                </div>

                <div class="form-group" *ngIf="thirdDiv()">
                  <div class="text-center" *ngIf="!select3()">
                    <a type="button" (click)="change3()" class="btn btn-success">
                      Archivo
                    </a>
                    <a type="button" (click)="change3_2()" class="btn btn-danger ">
                      Link Youtube
                    </a>
                  </div>
                
                  <div *ngIf="ss3()"><input class="form-control" type="file" id="myFile" name="filename" (change)=aumentar($event)></div>
                  <div *ngIf="select3_2()"> <input class="form-control" [(ngModel)]="ll.link3" name="link" #name="ngModel" (change)=rise() required></div>
                  
                </div>

                <div class="form-group" *ngIf="fouthDiv()">
                  <div class="text-center" *ngIf="!select4()">
                    <a type="button" (click)="change4()" class="btn btn-success">
                      Archivo
                    </a>
                    <a type="button" (click)="change4_2()" class="btn btn-danger ">
                      Link Youtube
                    </a>
                  </div>
                  <div *ngIf="ss4()"><input class="form-control" type="file" id="myFile" name="filename" (change)=aumentar($event)></div>
                  <div *ngIf="select4_2()"> <input class="form-control" [(ngModel)]="ll.link4" name="link" #name="ngModel" (change)=rise() required></div>
                  
                </div>

                <div class="form-group" *ngIf="fifthDiv()">
                  <div class="text-center" *ngIf="!select5()">
                    <a type="button" (click)="change5()" class="btn btn-success">
                      Archivo
                    </a>
                    <a type="button" (click)="change5_2()" class="btn btn-danger ">
                      Link Youtube
                    </a>
                  </div>
                  <div *ngIf="ss5()"><input class="form-control" type="file" id="myFile" name="filename" (change)=aumentar($event)></div>
                  <div *ngIf="select5_2()"> <input class="form-control" [(ngModel)]="ll.link5" name="link" #name="ngModel" (change)=rise() required></div>
                </div>

                <div class="text-center">
                    <button type="button" (click)="upload()" class="btn btn-success mt-4">
                      Subir Material
                    </button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>