<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7" style=" margin: auto; display: flex; ">
    <div class="row" style = "width :2800px; padding :20px">
      <div class="col" style="max-width : 1200px ;padding : 10px ;" >
        <div class="card shadow" style = "border-width : 5px" >
          <div class="card-header bg-transparent" >
            <h3 class="mb-0"> Curriculum </h3>
          </div>
          <div class="card-body">
              <div *ngIf="!currentFile">
                <ngx-extended-pdf-viewer
                [src]="currentPostulant.linkMaterial"
                [useBrowserLocale]="true"
                [textLayer]="true"
                [showHandToolButton]="true"
                [height]="'90vh'">
                </ngx-extended-pdf-viewer>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grado-cursos">
      <div class="row" style="padding: 20px;">
        <div class="col" style = "padding: 10px;">
          <div class="card shadow"  id="box2">
            <div class="card-header bg-transparent">
              <h3 class="mb-0" >Postulantes</h3>
            </div>
            <div class="card-body">
              <div class="row icon-examples">
                <div class="col-lg-7 col-md-6" >
                    <div class="card" style="width: 250px; ">
                        <img src="/assets/img/theme/professor_cover.jpg" style="width:100%">
                        <h2 style="text-align: center;">{{currentPostulant.username}}</h2>
                        <p class="title">Fecha: {{currentPostulant.fecha}}</p>
                        <p>Nombre:      {{currentPostulant.name}}</p>
                        <p>Apellido:      {{currentPostulant.lastname}}</p>
                        <p>Colegio:      {{currentPostulant.institucion}}</p>
                        <p>Especialidad:    {{currentPostulant.especialidad}}</p>
                        <p>Materiales:  {{currentPostulant.cantidadMateriales}}</p>
                    </div>
                    <div class="card" style="width: 250px; ">
                        <h5 style="text-align: center;">Descripcion</h5>

                        <p>{{currentPostulant.description}}</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a type="button" (click)="AceptarCurator()" class="btn btn-success">
          Aceptar
        </a>
        <a type="button" (click)="DenegarCurator()" class="btn btn-danger ">
            Denegar
          </a>
      </div>
    </div>
</div>
