<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7 " >
  <!-- Table -->
  <div class="row mt-6 " id="box" >
    <div class="col " >
      <div class="card shadow " >
        <div class="card-header border-0">
          <h3 class="mb-0">Favoritos</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Profesor</th>
                <th scope="col">Learning Points</th>
                <th scope="col">Ir al material</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor = "let material of myFavouriteMaterials ">
                <th scope="row" style=" text-align: center;">
                  <div class="media align-items-center">
                    <div class="avatar rounded-circle mr-3">
                      <img alt="{{material.name}}" src="../assets/img/brand/learning_logo.jpg">
                    </div>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{material.name}}</span>
                    </div>
                  </div>
                </th>  
                <td  style=" text-align: center;">
                    {{material.professor}}
                  </td>
                <td  style=" text-align: center;">
                  <div class="d-flex align-items-center" style="justify-content: center;">
                    <span class="mr-2">{{material.learning_points}}</span>
                    <div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " > 
                        <ngb-rating [rate]="material.learning_points" [max]="5" [readonly]="true"></ngb-rating>
                      </div>
                    </div>
                  </div>
                </td>
                <td >
                  <div class="media align-items-center" style="justify-content: center;">
                    <button type="button" class="btn btn-danger btn-circle" placement="top" triggers="mouseenter:mouseleave"
                    ngbPopover="Eliminar de mis favoritos" (click)="MandarEliminar(material)" >
                    <i class="fa fa-times"></i>
                    </button>

                    <button type="button" class="btn btn-success btn-circle" placement="top" triggers="mouseenter:mouseleave"
                    ngbPopover="Ir al material" (click)="IrMaterial(material)">
                    <i class="fa fa-link"></i>
                    </button>
                  </div>
                </td>        
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
