<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">¿Quieres crear un nuevo material?</h1>
            <h2 class="text-white">Llena este formulario</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">

              <div class="form-group">
                <label>
                  Título del material:
                </label>
                <h3>{{Titulo}}</h3>
              </div>

              <div class="form-group">
                <label>
                  Curso:
                </label>
                <h3>{{Curso}}</h3>
              </div>

              <div class="form-group">
                <label>
                  Tema:
                </label>
                <h3>{{Tema}}</h3>
              </div>

              <div class="form-group">
                <label>
                  Descripción del material:
                </label>
                <input class="form-control" [(ngModel)]="descripcion" required>
              </div>

              <label>
                Sube un material:
              </label>

              <form action="/action_page.php">

                <div class="form-group">
                  <div class="text-center" *ngIf="!select1()">
                    <a type="button" (click)="change1()" class="btn btn-success">
                      Archivo
                    </a>
                    <a type="button" (click)="change1_2()" class="btn btn-danger ">
                      Link Youtube
                    </a>
                  </div>

                  <div *ngIf="ss1()"><input class="form-control" type="file" id="myFile" name="filename" (change)=aumentar($event)></div>
                  <div *ngIf="select1_2()"> <input class="form-control" [(ngModel)]="y1" (change)=rise() required></div>
                </div>

                <div class="form-group" *ngIf="secondDiv()">

                  <div class="text-center" *ngIf="!select2()">
                    <a type="button" (click)="change2()" class="btn btn-success">
                      Archivo
                    </a>
                    <a type="button" (click)="change2_2()" class="btn btn-danger ">
                      Link Youtube
                    </a>
                  </div>

                  <div *ngIf="ss2()"><input class="form-control" type="file" id="myFile" name="filename" (change)=aumentar($event)></div>
                  <div *ngIf="select2_2()"> <input class="form-control" [(ngModel)]="y2" (change)=rise() required></div>
                  <h3>{{descripcion}}</h3>

                </div>

                <div class="form-group" *ngIf="thirdDiv()">
                  <div class="text-center" *ngIf="!select3()">
                    <a type="button" (click)="change3()" class="btn btn-success">
                      Archivo
                    </a>
                    <a type="button" (click)="change3_2()" class="btn btn-danger ">
                      Link Youtube
                    </a>
                  </div>
                
                  <div *ngIf="ss3()"><input class="form-control" type="file" id="myFile" name="filename" (change)=aumentar($event)></div>
                  <div *ngIf="select3_2()"> <input class="form-control" [(ngModel)]="y3" (change)=rise() required></div>
                  <h3>{{descripcion}}</h3>
                </div>

                <div class="form-group" *ngIf="fouthDiv()">
                  <div class="text-center" *ngIf="!select4()">
                    <a type="button" (click)="change4()" class="btn btn-success">
                      Archivo
                    </a>
                    <a type="button" (click)="change4_2()" class="btn btn-danger ">
                      Link Youtube
                    </a>
                  </div>
                  <div *ngIf="ss4()"><input class="form-control" type="file" id="myFile" name="filename" (change)=aumentar($event)></div>
                  <div *ngIf="select4_2()"> <input class="form-control" [(ngModel)]="y4" (change)=rise() required></div>
                  <h3>{{descripcion}}</h3>
                </div>

                <div class="form-group" *ngIf="fifthDiv()">
                  <div class="text-center" *ngIf="!select5()">
                    <a type="button" (click)="change5()" class="btn btn-success">
                      Archivo
                    </a>
                    <a type="button" (click)="change5_2()" class="btn btn-danger ">
                      Link Youtube
                    </a>
                  </div>
                  <div *ngIf="ss5()"><input class="form-control" type="file" id="myFile" name="filename" (change)=aumentar($event)></div>
                  <div *ngIf="select5_2()"> <input class="form-control" [(ngModel)]="y5" (change)=rise() required></div>
                  <h3>{{descripcion}}</h3>
                </div>

                <div class="text-center">
                    <button type="button" class="btn btn-success mt-4">
                      Siguiente
                    </button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  