  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7 " >
  <!-- Table -->
  <div class="row mt-5 "  >
    <div class="col "id="box" >
      <div class="card shadow " >
        <div class="card-header border-0">
          <h3 class="mb-0">Curar usuarios</h3>
          <div class="form-group">
            <input [(ngModel)]="userFilter.name" type="text" class="form-control" placeholder="Search Here" >
        </div>
        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col">Institucion</th>
                <th scope="col">Revisar</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor = "let postulant of Postulants | filterBy : userFilter">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="avatar rounded-circle mr-3">
                      <img  src="../assets/img/brand/learning_logo.jpg">
                    </div>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{postulant.name}}</span>
                    </div>
                  </div>
                </th>  
                <td>
                    {{postulant.fecha}}
                  </td>
                <td>
                    {{postulant.institucion}}
                </td>
                <td>
                    <div class="media align-items-center" style="text-align: center;">
                        <a (click)="postulantcurator()" class="avatar rounded-circle mr-3" >
                          <img src="../assets/img/theme/imagen.jpg">
                        </a>
                    </div>
                </td>        
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
