<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7" style=" margin: auto; display: flex; ">

    <div class="row" style = "width :2800px; padding :20px">
      <div class="col" style="max-width : 1200px ;padding : 10px ;" >
        <div class="card shadow" style = "border-width : 5px" >
          <div class="card-header bg-transparent"  style=" display: flex; ">
            <h3 class="mb-0" >{{materialName}}</h3>
            <div style="position:absolute; right:20px;  display: flex; ">
            <h3 class="mb-0 " >Learning Points : </h3>
            <h3 class="mb-0 "style="color:red " >{{currentPoints}}</h3>
          </div>
          </div>
          <div class="card-body">
            <div *ngIf="currentFile">
              <div *ngIf="fileType()">
                <ngx-extended-pdf-viewer
                [(src)]="currentFile.ruta"
                [useBrowserLocale]="true"
                [textLayer]="true"
                [showHandToolButton]="true"
                [height]="'90vh'"
                [width]="'1000px'"
                >
                </ngx-extended-pdf-viewer>
              </div>
              <div *ngIf="!fileType()">
                <div *ngIf="typeVideo()">
                  <iframe width="1000px" height="520" [src]="sanitizer.bypassSecurityTrustResourceUrl(currentFile.ruta)" frameborder="0" allowfullscreen></iframe>
                </div>
                <!--https://www.youtube.com/embed/t3DpuQrBivU-->
                <div class="video" *ngIf="!typeVideo()">
                    <video controls (click)="toggleVideo()" width="1000px" height="520" #videoPlayer>
                        <source [(src)]="currentFile.ruta" type="video/mp4" />
                    </video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grado-cursos">
      <div class="row" style="padding: 20px;">
        <div class="col" style = "padding: 10px;" >
          <div class="card shadow"  id="box2">
            <div class="card-header bg-transparent">
              <h3 class="mb-0" >Materiales</h3>
            </div>
            <div class="card-body">
              <div class="row icon-examples">
                <div class="col-lg-7 col-md-6" *ngFor = "let archivo of listFiles" >
                    <a
                      type="button"
                      placement="top-center"
                      triggers="hover focus click"
                      class="btn-icon-clipboard"
                      ngxClipboard
                      [cbContent]="'air-baloon'"
                      (click)="chooseFile(archivo)"
                      (cbOnSuccess)="copy = 'air-baloon'"
                      [style.background-color] = "archivo.backgroundcolor"
                      style = "padding-left : 30px; padding-right:30px; width:180px;"
                    >
                      <i class={{archivo.imagen}}></i>
                      <span>{{archivo.name}}</span>
                  </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div *ngIf="!isOwner">

      <div class="text-center" style = "min-width: 280px;">
        <div class="container" >
          <div class="row" style="justify-content: center; ">
            <div class="rating">
              <input type="radio" id="star5" name="rating" value="5" (click)="clickStar(5)"/><label for="star5" title="Meh">5 stars</label>
              <input type="radio" id="star4" name="rating" value="4" (click)="clickStar(4)"/><label for="star4" title="Kinda bad">4 stars</label>
              <input type="radio" id="star3" name="rating" value="3" (click)="clickStar(3)"/><label for="star3" title="Kinda bad">3 stars</label>
              <input type="radio" id="star2" name="rating" value="2" (click)="clickStar(2)"/><label for="star2" title="Sucks big tim">2 stars</label>
              <input type="radio" id="star1" name="rating" value="1" (click)="clickStar(1)"/><label for="star1" title="Sucks big time">1 star</label>
            </div>
          </div>
        </div>
        <div class="text-center" style = "min-width: 280px;">
          <div *ngIf = "!onMyFavourites">
            <a type="button" (click)="addToFavorites()" class="btn btn-primary mt-4" style = "min-width: 220px;">
              Agregar Favoritos
            </a>
          </div>
          <div *ngIf = "onMyFavourites">
            <a type="button" (click)="deletFromFavorites()" class="btn btn-danger mt-4" style = "min-width: 220px;">
              Quitar Favoritos
            </a>
          </div>
      </div>
        </div>

    </div>
    <div *ngIf= "isCurator">
      <div class="text-center" style = "min-width: 280px;">
        <a type="button" (click)="AceptarCurar()" class="btn btn-success mt-4" style = "min-width: 220px;">
          Aceptar
        </a>


        <a type="button" (click)="NegarCurar()" class="btn btn-danger mt-4" style = "min-width: 220px;">
          Rechazar
        </a>
      </div>
    </div>
  </div>
</div>
