<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7" style=" margin: auto; display: flex; ">
    
    <div class="row" style = "width :2800px; padding :20px">
      <div class="col" style="max-width : 1200px ;padding : 10px ;" >
        <div class="card shadow" style = "border-width : 5px" >
          <div class="card-header bg-transparent" >
            <h3 class="mb-0">Vista Previa</h3>
          </div>
          <div class="card-body" [ngStyle]="{'border-color' : error_course === true ? '#8B0000' : '#fff' , 'box-shadow':error_course === true ? '0 0 10px red' : ' 0 0 0px gold' }" >
            <div class="row icon-examples" *ngIf="currentFile">
              
            
              <ngx-extended-pdf-viewer
              [src]="'assets/pdfs/ada.pdf'"
              [useBrowserLocale]="true" 
              [textLayer]="true" 
              [showHandToolButton]="true" 
              [height]="'90vh'">
              </ngx-extended-pdf-viewer>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grado-cursos">
      <div class="row" style="padding: 20px;">
        <div class="col" style = "padding: 10px;" > 
          <div class="card shadow"  id="box2">
            <div class="card-header bg-transparent">
              <h3 class="mb-0" >Materiales</h3>
            </div>
            <div class="card-body" [ngStyle]="{'border-color' : error_grade === true ? '#8B0000' : '#fff' , 'box-shadow':error_grade === true ? '0 0 10px red' : ' 0 0 0px gold' }">
              <div class="row icon-examples">
                <div class="col-lg-7 col-md-6" *ngFor = "let archivo of archivos" >
                    <a
                      type="button"
                      placement="top-center"
                      triggers="hover focus click"
                      class="btn-icon-clipboard"
                      ngxClipboard
                      [cbContent]="'air-baloon'"
                      (click)="chooseFile(archivo)"
                      (cbOnSuccess)="copy = 'air-baloon'" 
                      [style.background-color] = "archivo.backgroundcolor"
                      style = "padding-left : 30px; padding-right:30px; width:180px;"
                    >
                      <span>{{archivo.name}}</span>
                  </a>
                  </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <div class="text-center">
        <a type="button" (click)="downloadMaterial()" class="btn btn-success mt-4">
          Descargar
        </a>
      </div>
    </div>
</div>
