<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Temas</h3>
        </div>
        <div class="card-body">
          <div class="row icon-examples">
            <div class="col-lg-6 col-md-6" *ngFor = "let tema of temas" >
                <div class="courses-container">
                    <div class="course">
                        <div class="course-preview">
                            <h2>{{tema.name}}</h2>
                            <p>Profesor: {{tema.professor}}</p>
                        </div>
                        <div class="course-info">
                            <div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " > 
                                <p>Learning Points</p>
                                <ngb-rating [rate]="tema.learning_points" [max]="5" [readonly]="true"></ngb-rating>
                              </div>
                            </div>
                            <p>{{tema.description}}<p>
                            <a class="btn" (click)="themeClick()">Ir</a>
                        </div>
                    </div>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>