<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">¡Bienvenido!</h1>
          <h2 class="text-white">Registrate aqui y empieza a aprender.</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5" >
          <div class="card" style="width:400px" style = "text-align: center;">
            <img class="card-img-top" [src]="isTeacher ? '/assets/img/theme/professor_cover.jpg' : '/assets/img/theme/student_cover.jpg'" alt="Card image">
            <div class="card-body" >
              
              
              <div *ngIf="isTeacher">
                <h2 class="card-title">Profesor</h2>
              </div>
              <div *ngIf="!isTeacher">
                <h2 class="card-title">Alumnos</h2>
              </div>

              <div *ngIf="isTeacher">
                <p class="card-text">Bienvenido nuevo PROFESORES a Learning Peru, obtendras muchos beneficios si te registras</p>
              </div>
              <div *ngIf="!isTeacher">
                <p class="card-text">Bienvenido nuevo ALUMNOS a Learning Peru, obtendras muchos beneficios si te registras</p>
              </div>



              
              
            </div>
            
          </div>
          <div class="text-center" >
            <button  type="button" [ngStyle]="{'opacity' : isTeacher == true ? '1.0' : '0.2' }" (click)="changeRole()" class="btn btn-success mt-4" style="margin-right : 20px">
              Soy profesor
            </button>
            <button  type="button" [ngStyle]="{'opacity' : isTeacher == false ? '1.0' : '0.2' }"  (click)="changeRole()" class="btn btn-success mt-4" style="margin-left : 20px">
              Soy estudiante
            </button>
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <form name="registerForm" #registerForm="ngForm" >
            <div class="form-group" >

             

              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-hat-3"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Nombre"
                  [(ngModel)]="registerObj.name"
                  name="name"
                  #name="ngModel"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-hat-3"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Apellido"
                  [(ngModel)]="registerObj.lastname"
                  name="lastname"
                  #name="ngModel"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group-alternative mb-3">
                <div class="input-group-prepend">
                </div>
                  <select (change)="genderChangeHandler($event)" class="form-control" required>
                  <option value="" disabled selected>Género</option>
                  <option *ngFor="let item of gender" [value]="item.id">
                    {{ item.Val }}
                  </option>
                </select>
              </div>
            </div>
            <div *ngIf="!isTeacher" class="form-group">
              <div class="input-group-alternative mb-3">
                <div class="input-group-prepend">
                </div>
                  <select (change)="gradeChangeHandler($event)" class="form-control" required>
                  <option value="" disabled selected>Grado</option>
                  <option *ngFor="let item of grade" [value]="item.year">
                    {{ item.val }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Correo"
                  [(ngModel)]="registerObj.email"
                  name="email"
                  #name="ngModel"
                  type="email"
                  required
                />
              </div>
            </div>
            <div *ngIf="isTeacher" class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-building"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Institución"
                  [(ngModel)]="registerObj.institucion"
                  name="institución"
                  #name="ngModel"
                  type="institución"
                  required
                />
              </div>
            </div>
            <div *ngIf="isTeacher" class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-paper-diploma"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Especialidad"
                  [(ngModel)]="registerObj.especialidad"
                  name="especialidad"
                  #name="ngModel"
                  type="especialidad"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-calendar-grid-58"></i
                  ></span>
                </div>
                <input
                  type="date"
                  class="form-control"
                  placeholder="Fecha de nacimiento"
                  [(ngModel)]="registerObj.birth"
                  name="birth"
                  #name="ngModel"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-satisfied"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Username"
                  [(ngModel)]="registerObj.username"
                  name="username"
                  #name="ngModel"
                  required
                />
              </div>
            </div>
            <!--<div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-map-big"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="País"
                  [(ngModel)]="registerObj.country"
                  name="country"
                  #name="ngModel"
                  required
                />
              </div>
            </div>-->
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Contraseña"
                  [(ngModel)]="registerObj.password"
                  name="password"
                  #name="ngModel"
                  type="password"
                />
              </div>
            </div>
            <div class="text-center">
              <button
                type="button"
                (click)="regClick(registerForm)"
                class="btn btn-primary mt-4"
              >
                Crear una cuenta
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
