<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- <h1>¡Bienvenido a LearningPeru!</h1>
      <h2>
        LearningPeru es una plataforma de apoyo para estudiantes de segundo,
        tercero, cuarto y quinto grado de secundaria.
      </h2> -->
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img
              src="assets/img/caroussel/rsz_education.png"
              alt="Angular Carousel 1"
              width="100%"
            />
          </div>
          <div class="carousel-caption">
            <h2 class="text-dark">¿Todavía le tienes miedo a esta palabra?</h2>
            <h3 class="text-white">Learning Peru está aquí para ayudarte.</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img
              src="assets/img/caroussel/car2.png"
              alt="Angular Carousel 2"
              width="100%"
            />
          </div>
          <div class="carousel-caption">
            <h2 class="text-dark">
              Learning Peru es una plataforma de aprendizaje en línea donde
              podras reforzar lo visto en el colegio.
            </h2>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img
              src="assets/img/caroussel/20.png"
              alt="Angular Carousel 2"
              width="100%"
            />
          </div>
          <div class="carousel-caption">
            <h2 class="text-white">
              Así que ¿Qué esperas para registrarte? ¡Vamos por ese 20!
            </h2>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
